body
{
 
}
.leftmenu
{
    margin              : 5% 0 0 5%;
    width               : 25%;

}
.loginform
{
    margin              : 5% 0 0 5%;
    width               : 25%;
}


#menu1, #menu2,#menu3, #menu4, #menu5
{
   /* background-color    : #FF0000;*/
    display             : inline-block; 
    margin              : 1% 0 1% 0;   
    width               : 19%;

}

#header_menu
{
    width: 100%;
    text-align: center; 
}
